<div class="text-center py-3 sticky-top">
    <h2>
        Votre Commande
    </h2>
    <div *ngIf="getAllOrders().length == 0" class="my-4">
        <img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/svg/astronaut-grey-scale.svg" alt="">
        <p class="mt-4 px-3">
            Vous n'avez ajouté aucun produit. Quand vous le ferez, vous les verrez ici !
        </p>
    </div>
    <div *ngIf="getAllOrders().length > 0" class="cart-items">
        <div class="py-2 cart-items-container">
            <div *ngFor="let prod of getAllOrders()" 
            class="cart-item py-2">
                <div class="d-flex justify-content-sm-between">
                    <div>
                        <p> {{ prod?.name }} </p>
                    </div>
                    <div>
                        <p> {{ prod?.total | currency }} </p> 
                    </div>
                </div>
                <div class="d-flex justify-content-sm-between">
                    <app-counter [product]="prod" [clsName]="'cartStyle'"></app-counter>
                    <div>
                        <i class="fa-regular fa-trash-can pointer" 
                            (click)="removeProduct(prod)"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-sm-between total">
            <span>Total</span>
            <p> <b> {{ totalC() | currency }} </b></p>
        </div>
        <div>
            <div>
                <button class="btn btn-gocheckout" (click)="goToCheckout()">
                    Acceder au paiment
                </button>
            </div>
        </div>
    </div>    
</div>