// Vars

$primary-color:#192C4D;
$secondary-color:#EBB03B;

#user-account
{
    .user-account-menu
    {
        border-right: 1px solid #dedede;
        ul
        {
            list-style: none;
            li
            {
                padding: 10px 0px;
                &:hover
                {
                    cursor: pointer;
                    background-color: #eee;
                }
            }
        }
    }

    .user-infos-part1
    {
        .usip1-img
        {
            height: 80px;
            width: 80px;
            background-color: #e7e7e7;
            border-radius: 100%;
            overflow: hidden;
            img
            {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .usip1-name
        {
            font-weight: 600;
            font-size: 22px;
        }

        .usip1-email
        {
            font-weight: normal;
        }
    }

    .user-infos-part2
    {
        .password-container
        {
            >div
            {
                .show-password
                {
                    cursor: pointer;
                    padding: 0px 10px;
                }
            }
        }
    }
}

.btn-style
{
    background-color: $secondary-color;
    color: $primary-color;
}