// Vars

$primary-color:#192C4D;
$secondary-color:#EBB03B;

.menus-list
{
    .menus-list-items
    {
        display : grid;
        grid-template-columns:  1fr 1fr;
        grid-gap: 10px;
        
        .menus-list-items-single
        {
            border: 1px solid #ddd;
            border-radius: 10px;
            transition: .3s;

            &:hover
            {
                /* transform: scale(1.02); Error */
                box-shadow: 0px 2px 24px 6px rgba(0, 0, 0, 0.05);
            }

            .price
            {
                color: #333;
            }

            .circle-icon
            {
                height: 25px;
                width: 25px;
                border-radius: 100%;
                background-color: rgba($secondary-color, .3);
                i
                {
                    font-size: 16px;
                    color: $secondary-color;
                }
            }
        }
    }
}


#single-element
{
    .single-element-part1
    {
        box-shadow: 0px 2px 24px 6px rgba(0,0,0,.06);
        border-radius: 10px;
    }

    div
    {
        #search-input
        {
            border-radius: 30px;
            height: 50px;
        }
    }

    .single-menuslistFilter
    {
        h5
        {
            i
            {
                cursor: pointer;
                font-size: 16px;
            }
        }

        .listMenu
        {
            border-top: 1px solid #dedede;
            background: #f7f7f7;
            li
            {
                padding: 10px 0px;
                cursor: pointer;
                transition: .3s;
                &:hover
                {
                    background-color: #eeeeee;
                }
            }
        }   
    }
    
    .single-element-cart
    {
        box-shadow: 0px 2px 24px 6px rgba(0,0,0,.06);
        border-radius: 10px;
        z-index: 999;
    }
}

.index-999
{
    z-index: 999;
}

.search-value
{
    mark
    {
        background-color: $secondary-color;
        color: $primary-color;
    }
}