<nav class="navbar navbar-expand-lg navbar-light bg-white allochwit-header">
  <div class="container">
      <div class="col header-part1">
          <a class="navbar-brand" href="#">
            <img src="./assets/logo2.jpeg" alt="alloChwit">    
          </a>
      </div>
      <div class="col header-part2">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
      </div>
      <div class="col header-part3 d-flex justify-content-end">
          <div class="header-part3-user mx-1 d-flex justify-content-center align-items-center">
            <i class="fa-regular fa-user"></i>
          </div>
          <div class="header-part3-menu mx-1 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-bars-staggered"></i>
          </div>
      </div>
  </div>
</nav>