// Vars

$primary-color:#192C4D;
$secondary-color:#EBB03B;

// Functions

@mixin SizeBox($hei,$wid)
{
    height: $hei;
    width: $wid;
} 

// Classes 
a
{
    text-decoration: none;
}

ul
{
    list-style: none;
    padding: 0px;
}

.list-style-none
{
    list-style: none;
}

.text-decoration-none
{
    text-decoration: none;
}

.pointer
{
    cursor: pointer;
}

.hello
{
    background-color: red;
}
