// Vars

$primary-color:#192C4D;
$secondary-color:#EBB03B;

/* global */

.pointer
{
    cursor: pointer;
}

#quick-view-product
{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.3);
    z-index: 9999;

    div
    {
        background-color: white;
        border-radius: 10px;
        overflow: hidden;

        &.container-60
        {
            height: 75vh;
        }

        &.productWith
        {
            height: 65vh;
            overflow-y: scroll;
            button
            {
                border: 1px solid #dedede;
                width: 100%;
                text-align: left;
                span
                {
                    float: right;
                }
            }
        }

        &.productWithout
        {
            img
            {
                width: 60%;
            }

            .quantity-operations
            {   
                .btn
                {
                    background-color: rgba($secondary-color, .3);
                }
            }
        }
    }
}

.btn-style
{
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 30px;
}