<div class="row">
    <div class="col">
        <div *ngIf="product.p.elementSup != undefined" 
                class="productWith px-3">
            <div *ngFor="let sub of product.p.elementSup" class="mb-3">
                <h4> {{ sub.title }} </h4>
                <button *ngFor="let item of sub.items" 
                        (click)="showPrice($event,item.productPrice)" 
                        class="d-block btn mb-2 p-2">
                    {{ item.productName }}
                    {{ item.productPrice | currency }}
                    <span><i class="fa-solid fa-plus"></i></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <app-product-shared-box [product]="product"></app-product-shared-box>
    </div>
</div>