.breadcrumb-single
{
    .breadcrumb-single-part1
    {
        h2
        {
            font-size: 40px;
            font-weight: 700;
            color: #000;
        }
    }

    .breadcrumb-single-part2
    {
        color: #333;
    }
}