<!-- section 1 -->
<section id="home-part1" class="d-flex align-items-center">
    <div class="container">
        <div class="row ">
          <div class="col">
            <h1>
                <span class="d-block">Express</span>
                Livraison à domicile
            </h1>
            <div class="search-adress text-center">
                <p> Choisir une adresse de livraison </p>
                <div class="search-adress-box py-2" (click)="getAdress()">
                    <i class="fa-light fa-flag-swallowtail"></i>
                    <span>Quelle est votre adresse ?</span>
                </div>
                <div>
                    
                </div>
            </div>
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
    </div>
</section>

<!-- Address Modal -->
<!--app-address-modal *ngIf="addressActive"></app-address-modal-->

<!-- section 2 -->
<section id="home-part2">
    <div class="container">
        <div class="row">
            <div class="col mx-1">
                <div class="d-flex align-items-center">
                <div class="circle-icon">

                </div>
                <div>
                    <h4>Fastfood</h4>
                </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="d-flex align-items-center">
                <div class="circle-icon">

                </div>
                <div>
                    <h4>Hot Pizza</h4>
                </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="d-flex align-items-center">
                <div class="circle-icon">

                </div>
                <div>
                    <h4>Asian Food</h4>
                </div>
            </div>
          </div>
          <div class="col mx-1">
            <div class="d-flex align-items-center">
                <div class="circle-icon">

                </div>
                <div>
                    <h4>Orientale</h4>
                </div>
            </div>
          </div>
        </div>
    </div>
</section>

<!-- section 3 -->

<section id="home-part3">
    <div class="home-part3-title">
        <h2 class="color-EBB03B text-center">
            Meilleures Catégories en Guyane 
        </h2>
    </div>
    <!-- convert to links -->
    <div class="home-part3-list d-flex justify-content-center">
        <div *ngFor="let category of meilleuresCat"> {{ category }} </div>
    </div>
</section>

<!-- section 4 -->

<section id="home-part4" class="py-5">
    <div class="home-part4-title text-center">
        <h3>
            Nos recommandations
        </h3>
        <h2>
            Cafés & Restaurants
        </h2>
    </div>
    <div class="container recommandations-container">
        <div class="row">
            <div class="col-6 recommandations-container-part1">
                <div>
                    <div class="recommendations-image1">
                        <img [src]="rests[0].image" alt="">
                    </div>
                    <div>
                        <h3> {{ rests[0].name }} </h3>
                        <p><span></span> {{ rests[0].days }}</p>
                        <p><span></span> {{ rests[0].hours }}</p>
                        <div>

                        </div>  
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="d-grid recommandations-list flex-wrap">
                    <div *ngFor="let rest of rests | slice:1:5; let i = index;">
                        <div class="recommendations-image2">
                            <img [src]="rest.image" alt="">
                        </div>
                        <div>
                            <h3>{{ rest.name }}</h3>
                            <p><span></span> {{ rest.days }} </p>
                            <p><span></span> {{ rest.hours }} </p>
                            <div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
            <a href="#" class="link-style-1 px-4 py-2 d-inline-block" >Voir Plus</a>
        </div>
      </div>
</section>

<!-- section 5 -->

<section  id="home-part5">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <img src="./assets/pexels-tima-miroshnichenko-6169002.jpg" alt="">
            </div>
            <div class="col d-flex flex-column justify-content-center pl-4">
                <h2>Asseyez-vous à la maison</h2>
                <h2 class="color-EBB03B">Nous prendrons soin</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quidem soluta adipisci quam necessitatibus doloremque, totam assumenda aut ab, voluptates laudantium error nisi tenetur, quaerat nulla amet sit dignissimos autem!
                </p>    
                <div class="d-flex">
                    <div class="p-1">
                        <i></i>
                        <p>Livraison rapide</p>   
                    </div>
                    <div class="p-1">
                        <i></i>
                        <p>Large Carte de couverture</p>
                    </div>
                    <div class="p-1">
                        <i></i>
                        <p>Plus que 150 coursiers</p>
                    </div>
                </div>
                <div>
                    <a href="#" class="link-style-1 px-4 py-2 d-inline-block" >Voir Plus</a>
                </div> 
            </div>
        </div>
    </div>
</section>

<!-- section 6 -->

<section id="home-part6">
    <h2 class="color-EBB03B text-center"> 
        Opportunités
    </h2>
    <div class="container px-5">
        <div class="home-opportunities">
            <div class="text-center opportunity-box" *ngFor="let opor of Opportunites">
                <div class="opportunity-image"></div>
                <h3> {{ opor.title }} </h3>
                <p class="px-4"> {{ opor.shortDescription }} </p>   
                <a [routerLink]="['/opor.link']" routerLinkActive="router-link-active" class="p-3 d-inline-block mt-2"> Rejoignez-nous </a> 
            </div>
        </div>
    </div>
</section>