
.box-res
{
    box-shadow: 0px 2px 24px 6px rgba(0,0,0,0.06);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    cursor: pointer;

    .bg-image
    {
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;

        img
        {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .3s;
        }
        
        .content
        {
            position: absolute;
            height: 100%;
            width: 100%;
            background-color: rgba(0,0,0,.3);
            color: white;

            .categories 
            {
                grid-gap: 10px;
                > div
                {
                    background-color: rgba(0,0,0,.4);
                    padding: 10px;
                    border-radius: 3px;
                }
            }
        }

    }

    &:hover
    {
        img
        {
            transform: scale(1.1);
        }
    }

    .infos
    {
        padding: 10px 5px;
    }
}



.menu-filter
{
padding-right: 15px;
h3
{
    font-size: 20px;
}

ul
{
    list-style: none;
    padding: 0px;
    li
    {
        padding: 10px;
        border-bottom: 1px solid #dedede;
        cursor: pointer;
        &:last-child
        {
            border-bottom: none;
        }
    }
}
}