<form class="text-center">
    <div class="mb-3 d-flex">
        <img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/glyphs/person.svg" alt="">
        <input type="text" 
        class="form-control" 
                id="InputName" 
                placeholder="Nom" >
    </div>

    <div class="mb-3 d-flex"> 
        <img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/glyphs/letter.svg" alt="">
        <input type="email" 
            class="form-control" 
            id="InputEmail1"  
            placeholder="E-mail" >
    </div>

    <div class="mb-3 d-flex">
        <img src="https://res.cloudinary.com/glovoapp/image/fetch//q_auto/https://glovoapp.com/images/glyphs/lock.svg" alt="">
        <input type="password" 
                class="form-control" 
                id="InputPassword1"
                placeholder="Mot de passe">
    </div>
    
    <button type="submit" class="btn btn-primary"> Inscription </button>
</form>