<footer id="footer" class="py-5">
    <div class="container">
        <div class="row px-5 py-2">
            <div class="col infos">
                <div>
                    <img src="" alt="">
                </div>
                <div class="phone-icon"></div>
                <div class="pl-5"> 
                    <h5>Contactez- nous</h5>
                    <p>90-500-28-999</p>
                </div>
            </div>
        </div>
        <div class="row px-5 py-2  text-center">
            <div class="col logo">
              <img src="./assets/logo2.jpeg" alt="">
            </div>
        </div>
        <div class="row px-5 py-2  text-center">
            <div class="col social-media">
                <ul class="d-flex justify-content-center">
                    <li>
                        <a href="#" class="facebook d-inline-flex justify-content-center align-items-center mx-1">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="instagram d-inline-flex justify-content-center align-items-center mx-1">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter d-inline-flex justify-content-center align-items-center mx-1">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube d-inline-flex justify-content-center align-items-center mx-1">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row px-5 py-2 text-center">
            <div class="col copyright">
                <p>© All Rights Reserved - 2022</p>
            </div>
        </div>
    </div>
</footer>